body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pagina_acesso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.imagem-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

.container_acesso {
    flex: 1;
    padding: 20px;
    max-width: 500px;
    
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form button {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

form input {
    background-color: #222;
    color: white;
}

form button {
    background-color: #6c3483;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #6c3483;
}

.cadastro {
    margin-top: 20px;
}

.cadastro form input {
    margin-bottom: 10px;
}
#paginaInicial {
    position: fixed;
    top: 12px;
    left: 125px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
#paginaInicial:hover {
    background-color: rgba(157, 157, 157, 0.8);
}
footer {
    text-align: center;
    display: flex;
    padding: 0px 20px;
    margin-top: auto;
    color: rgba(255,255,255,0.7);
    font-size: 14px;
    bottom: 0px;
    left: 0px;
}

@media (max-width: 700px) {
    #paginaInicial {
        left: 35px;
    }
    img{
        height: 500px;
        width: 380px;
    }

    
}
@media (max-width: 600px) {
    #paginaInicial {
        left: 15px;
    }
    img{
        height: 300px;
        width: 180px;
    }

    
}
@media (max-width: 300px) {
    #paginaInicial {
        left: 15px;
    }
    img{
        height: 300px;
        width: 180px;
    }
    .texto_Um{
        top: 80px;
        font-size: 12px;
        padding: 0 10px;
        text-align: center;
    }

    
}